---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 14px;

  @include breakpoint($medium) {
    font-size: 16px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

// Give left padding to a sidebar(left) menu.
.sidebar .nav__list .nav__items a {
  padding-left: 10px;
}

// Apply the custom style to the new category sidebar.
.sidebar__right .category_bar_table ul {
  list-style-type : none;
}

.sidebar__right .category_bar_table li a {
  display: table;
  text-decoration: none;
  padding: 3px 12px 3px 12px;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar__right .category_bar_table li a:hover {
  transition: background-color .7s;
  background-color: #0092CA;
  color: #FFFFFF;
}

// Bring up the archive list.
.taxonomy__section .archive__subtitle {
  clear: none;
}

// Make the post item style to the cardboard.
.archive .entries-list .list__item {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
}

// Set the hover effect to an item.
.archive .entries-list .list__item:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
}

// Make the post item style to the cardboard.
.archive .entries- .list__item {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
}

// Set the hover effect to an item.
.archive .entries- .list__item:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
}

// Fix the cardboard layout in the each category.
.archive .entries- .list__item .archive__item-title {
  margin-top: 0;
}

// Style for the site title beta tag.
.masthead__menu .site-nav sub, sup {
  color: #989ba0;
}

// Style for the category tag on each Post card
.archive__item-tag {
  float: right;
  width: auto;
  background-color: #0092CA;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: $type-size-7;
  color: white;
  font-weight: bold;
}
