name: Build Workload

on:
  push:
    branches:
    - main
    - develop
    paths:
    - 'workload/**'
    - '.github/workflows/**'
  pull_request:
    branches: [ main ]
    paths:
    - 'workload/**'
    - '.github/workflows/**'
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Pre-release tag name'
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Build
      env:
        PULLREQUEST_ID: ${{ github.event.number }}
        PRERELEASE_TAG: ${{ github.event.inputs.prerelease }}
      run: make
      working-directory: ./workload

    - uses: actions/upload-artifact@v2
      with:
        name: tizen-workload-pkgs
        path: ./workload/bin/nuget-unsigned/*.nupkg


  deploy:

    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Install Github Package Registry Tool
      run: dotnet tool install --global --no-cache gpr

    - uses: actions/download-artifact@v2
      with:
        name: tizen-workload-pkgs

    - name: Push packages to GPR
      run: |
        gpr push --api-key ${{ secrets.GITHUB_TOKEN }} \
                 --repository ${{ github.repository }} \
                 --retries 3 Samsung.*.nupkg

    - name: Push packages to MyGet
      run: |
        dotnet nuget push Samsung.*.nupkg \
                      -k ${{ secrets.MYGET_APIKEY }} \
                      -s https://tizen.myget.org/F/dotnet/api/v2/package \
                      -t 3000
